*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
    background:hwb(0 92% 7%);
    color: hsl(30, 6%, 6%);

}
.about{
    max-width: 900px;
    margin:40px auto;
    padding: 20px;
}
.profile-card{
    display: flex;
    align-items: center;
    gap: 15px;
    background: white;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
}
.small-ing{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.role{
    color: lch(31.64% 0.88 19.23 / 0.801);
    font-size: 14px;
}
.intro h1{
    color: #060505;
}

.intro{
    background: gold;
    margin-top: 20px;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 12px
    rgba(0, 0, 0, 0.08);
    
}

.intro h1{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}
.intro p{
    line-height: 1.6;
    color: #262626;
}
.big-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}
.big-image {
    width: 100%;
    max-width: 800px;
    height: 350px;
    margin: 20px auto;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    object-fit: cover;
    
 
}

.intro2 h1{
    color: #060505;
}

.intro2{
    background: gold;
    margin-top: 20px;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 12px
    rgba(0, 0, 0, 0.08);
    
}

.intro2 h1{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}
.intro2 p{
    line-height: 1.6;
    color: #262626;
}

*{
    text-decoration: none;
}

.navbar{
    background-color: #060505; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding-right: 15px;
    padding:15px 50px;
}
.navbar{
    display: flex; align-items: center; justify-content: space-between;
}
.logo a{
    font-size: 35px; font-weight: 600; color:aliceblue

}
ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    align-items: end;
} 
    
    
li a {
    color: rgb(232, 231, 221);font-size: 18px; font-weight: bold; transition: 0.3s;
    text-decoration: none;
}
.logo {
    margin-right: 40px;
    padding-left: 0%;
}

html {
    scroll-behavior: smooth;
}

.project-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #f5f5f5;
}

.project-section h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2opx;
}
.profile-card{
    background: #fff;
    padding: 15px;
    border-radius: 1opx;
    box-shadow: o 2px 6px rgba(0, 0, 0, 0.1);
}
.project-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    max-height: 180PX;
}
.profile-card h3 {
    font-size: 16px;
    color:#333
}
section id class Project gallery{
    text-align: center ;
}

.project-gallery {
    margin-top: 100px;
    text-align: center;
}

.project-gallery h1{
    margin-bottom: 40px;
}
.contact {
    padding: 60px 20px;
    display:block;
    justify-content: center;
    flex-direction: column;
}

.contact-card {
    background-color: #f4c430;
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
}
.contact-card h2 {
    margin-bottom: 10px;
}
.contact-card p{
    margin-bottom: 20px;
}
.contact-card ul {
list-style: none;
padding: 0;
}
.contact-card li{
margin: 15px 0;
font-size: 18px;
}
.contact-card a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-left: 8px;
}
.contact-card a:hover{
    text-decoration: underline;
}
.contact a{
    color: #000;
    text-decoration: none;
}